body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    width: 40px;
    height: 40px;
}

input {
    width: 38px;
    height: 38px;
    text-align: center;
    font-size: 18px;
    border: none;
}

td:nth-child(3n) {
    border-right: 2px solid black;
}
tr:nth-child(3n) td {
    border-bottom: 2px solid black;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 16px;
}

#message {
    margin-top: 10px;
    font-weight: bold;
}
